@font-face {
  font-family: 'Bingbam';
  src: url('./assets/BingbamDemoRegular-wop79.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
a{
  text-decoration: none;
  color: whitesmoke;
}
img{
  border:2px solid black;
  border-radius: 9px;
  padding: 10px;
  margin: 11px;
  height: 200px;
}
.nav-link:not(:last-child){
  margin-right:30px
}
.playCard:hover{
  scale: 1.01;
  transition: all 0.2s ease-in-out;
}
.gameCardImage{
  background-size: cover;
  background-position: center;
  height: 17rem;
  padding: 8px 0px 0px 15px;
  border-radius: 8px 8px 0px 0px;
  text-shadow: 4px 4px 2px black;
  font-family: 'Bingbam';
  color: rgba(255, 99, 27, 1);
  font-size: 3.25rem;
}
.gameBoard{
  background-image: url('./assets/gameBoard.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh
}
.menuIconBack{
  position: fixed; 
  height:100vh; 
  left:0; 
  width:2rem; 
  z-index:1000;
  padding-left:0.7rem; 
}
.menuIconHeader{
  font-size: 2rem;
  cursor: pointer;
}